<div class="container">
  <div class="row">
      <div class="col-md-12">
        <div id="page-title">
          <h2> All Articles Listing </h2>
        </div>
          <%= render 'article', obj: @articles %>
      </div>
  </div>
</div>
