<div class="container">
  <div class="row">
    <div class="article-container col-md-12">
      <h2 class="article-title"><%= @article.title %></h2>
      <p class="article-description">Description: <%= @article.description %></p>

      <p><%= link_to "Back to My Articles", user_path(current_user), id: "back" %></p>
    </div>
  </div>
</div>
