<div class="container">
  <div class="row">
      <div class="col-md-12">
        <div id="page-title">
          <h2> All Articles Listing </h2>
        </div>

        <div id="create-article">
          <%= link_to "Create New Article", new_article_path, id: "create-article" %>
        </div>
        <br />
        <%= render 'articles/article', obj: @user.articles %>
      </div>
  </div>
</div>
