<div class="container-fluid">
  <div class="row">
    <header id="top" class="col-md-12">
      <div id="logo">
        <%= link_to "My Blogsite", root_path %>
      </div>

      <div id="nav">
        <ul id="navlinks">
          <li><%= link_to "Articles", articles_path %> </li>
          <li><a href=#> Login </a> </li>
          <li><a href=#> Register </a></li>
        </ul>
      </div>
    </header>
  </div>
</div>
